[Unit]
Description=Administration server for openVPN
After=syslog.target
Wants=openvpn-server@arachne-user
Wants=openvpn-server@arachne-site
Requires=arachne-dbus.service

[Service]
User=arachne
ExecStart=/usr/share/arachne/Arachne.jar  --workdir=/var/lib/arachne
WorkingDirectory=/var/lib/arachne
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
