[Unit]
Description=Administration server for openVPN
After=syslog.target

[Service]
User=arachne
ExecStart=java -jar /usr/share/arachne/Arachne.jar --workdir=/var/lib/arachne
WorkingDirectory=/var/lib/arachne
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
