<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>dynamic-data-dir</param-name>
        <param-value>WEB-INF/properties</param-value>
    </context-param>
    <context-param>
        <param-name>
        javax.faces.WEBAPP_RESOURCES_DIRECTORY
        </param-name>
        <param-value>/WEB-INF/resources</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConfigNetworkManager</servlet-name>
        <servlet-class>at.nieslony.openvpnadmin.servlets.ConfigNetworkManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigOvpn</servlet-name>
        <servlet-class>at.nieslony.openvpnadmin.servlets.ConfigOvpn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <!--<url-pattern>/faces/*</url-pattern>-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigNetworkManager</servlet-name>
        <url-pattern>/download/add-vpn-to-networkmanager.sh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigOvpn</servlet-name>
        <url-pattern>/download/client-config.ovpn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>trontastic</param-value>
    </context-param>

    <!--
    <error-page>
        <exception-type>at.nieslony.openvpnadmin.exceptions.PermissionDenied</exception-type>
        <location>/error/403.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/500.xhtml</location>
    </error-page>
    -->
</web-app>
