body {
    background-color: #ffffff;
    color: #000000;  
}

h1 {
    color: #338833;
}

h2 {
    color: #338833;
}

a:link, a:visited {
    color: #338833;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  text-decoration : underline;
    color: #338833;    
}

pre {
  background-color: #eeeeee;
}
