/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : 24 feb 2023, 20:30:45
    Author     : claas
*/
a[highlight] {
    font-weight: bold;
    border-right-style: solid;
    border-right-width: 3pt;
    width: 100%;
}
